aclocal.m4
autom4te.cache
compile
config.h*
config.log
config.status
configure
depcomp
.deps
install-sh
.local.el
Makefile
Makefile.in
missing
mpimpibwa-mpibwaidx-*.tar.gz
*.o
src/Makefile.in
src/mpiBWA
src/mpiBWAIdx
stamp-h1
